{{#each station.readings}}
<div class="ui inverted blue segment">
    <div class="ui five stackable inverted cards">
        <div class="card">
    <span class="content centre">
    <h2> {{station.name}}<i class="right floated large purple location arrow icon"></i></h2>
      <br>Lat: {{station.lat}}
      <br>Lat: {{station.lng}}
    
    </span>
        </div>
      
        <div class="card">
    <span class="content centre">
    <h2>Weather <i class="right floated large red {{../station.weatherIcon}}"></i></h2>
    <br>{{station.weather}}
    </span>
        </div>
      
        <div class="card">
    <span class="content centre">
      <h2>Temp <i class="right floated large blue temperature low icon"></i></h2>
      <br>{{station.tempC}} C°
      <br>{{station.tempF}} F°
      <br>Max: {{maxTemp.temperature}}
      <br>Min: {{minTemp.temperature}}
    </span>
        </div>

        <div class="card">
    <span class="content centre">
      <h2>Wind <i class="right floated large green wind icon"></i></h2>
      <br>{{station.windBft}} bft
      <br>{{station.windCompass}}
      <br>Feels like {{station.windChill}}
      <br>Max: {{maxWindSpeed.windSpeed}}
      <br>Min: {{minWindSpeed.windSpeed}}
    </span>
        </div>

        <div class="card">
    <span class="content centre">
      <h2>Pressure <i class="right floated large orange snowflake icon"></i></h2>
      <br>{{station.pressure}} hpa
      <br>Max: {{maxPressure.pressure}}
      <br>Min: {{minPressure.pressure}}
    </span>
        </div>
    </div>
</div>
{{/each}}
